/* --------------------Reset-------------------- */
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
 
/* --------------------------------------------- */
body {
    /* background-color: #e9e9e9; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100%;
    
}
.start-wrap,
.game-over-wrap {    
    width: 600px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    /* background-color: rgba(0, 0, 0, 0.3);   */
    background-color: #fff;
    border-radius: 10px; 
}
.deactive {
    visibility: hidden;
}
.start-window {    
    width: 450px;
    height: 250px;
    z-index: 50;
    position: absolute;
    top: 25%;
    left: 75px;
    background-color: #c4c3d0;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #222, inset 0px 0px 20px #555;
    margin: 0 auto;
}
/* .start-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
} */
.start-text {
    font-size: 20px;
    text-align: center;
    padding: 30px 0 0 0;
}
.start-text p {
    padding: 0 0 5px 0;
}
.start-text p:first-child{
    padding: 0 0 10px 0;
}
.start-text p:last-child span{
    position: relative;
    font-weight: 600;    
    font-family: monospace; 
    display: inline-block;
    margin: 0 5px;   
}
.start-text p:last-child span::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 22px;
    width: 22px;
    border: 1px solid #000;    
    border-radius: 50%;
}
.start-btn,
.game-over-btn {
    text-align: center;
    position: static;
    margin: 30px auto;
    border: 1px solid #000; 
    border-radius: 10px;
    background-color: #888;  
    box-shadow: 5px 5px 10px #222;
    padding: 10px;
    width: 180px;
    font-size: 20px;    
}
.start-btn:active,
.game-over-btn:active {
    border: none;
    box-shadow: 2px 2px 5px #222;    
}
.wrapper {
    margin: 0 auto;
    width: 600px;
    padding: 0 50px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #333;
}
.container {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 1 auto;
}

.rules {
    position: fixed;
    left: 10px;
    bottom: 10px;
    /* margin: -50px 0 0 -30px; */
    z-index: 30;
}
.rules__icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;  
    border: 1px solid #777;
    color: #000;
    border-radius: 50%;    
    background-color: #c4c3d0;
    font-family: monospace; 
    position: relative;  
    z-index: 30;    
}
.rules__icon_active {
    border: none;
    visibility: hidden;
}
.rules__body {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #c4c3d0;
    width: 440px;
    border-radius: 10px;
    padding: 0px;    
    box-shadow: 0px 0px 20px #222;
}
.rules__body:target {
    display: block;
}
.rules__close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 0;   
    color: #000;
}
.rules__title {
    display: inline-block;
    font-size: 24px;
    margin: 0 0 15px 141.5px;   
}
.rules__text {
    font-size: 16px;
    padding: 30px 30px 20px 30px;
}
.rules__text p {
    padding: 0 0 10px 0;
}
.rules__text p:last-child{
    padding: 0;
}
.rules__text p:first-child, p:last-child{
    margin: 0;
}
.control__select {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 30px 0 40px 0;
}

.control__title{
    font-size: 18px;
    padding: 20px 0;
}
.btn__hand-control{
    width: 175px;
    border: 1px solid rgb(165, 110, 110);
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;    
    background-color: rgb(202, 153, 153);
    box-shadow: inset -5px -5px 5px #888;   
}
.btn__hand-control:active{
    box-shadow: none;
    border: none;
}
.control__btn-two-hand {}
.control__btn-two-hand_active{   
    box-shadow: 0 0 10px 8px rgb(201, 121, 121), inset -5px -5px 5px #888;
    border: 2px solid rgb(165, 110, 110);
}
.control__btn-one-hand {}
.control__btn-one-hand_active {
    box-shadow: 0 0 10px 8px rgb(201, 121, 121), inset -5px -5px 5px #888;
    border: 2px solid rgb(165, 110, 110);
 }
.control__body-one-hand {  
    display: none;  
    width: 500px;    
    margin: 20px 0 auto 0;    
    justify-content: center;
}

.control__body-two-hand{
    display: none;
    /* display: flex; */
    justify-content: space-around;
    width: 500px;    
    margin: 50px 0 50px 0;    
    
}
.btn-left-copy,
.btn-top-copy {
    margin: 0 0 80px 0;
}
.active {
    display: flex;
}
.control__row {
    align-self: center;
    margin: 0 15px 0 15px;
}
.control__btn {
    width: 90px;
    height: 90px;
    border: 2px solid #666;
    background-color: #777;
    border-radius: 20px;    
}
.control__btn:active{
    box-shadow: 0 0 20px #333;
}
.btn-arrow {
    position: relative; 
}
.btn-arrow::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;    
    border: 3px solid #000;
    transform: translate(-50%, -50%) rotate(45deg);
}
.btn-left::before {   
    border-right: transparent;
    border-top: transparent;
} 
.btn-bottom::before {    
    border-left: transparent;
    border-top: transparent;
}
.btn-right::before {    
    border-left: transparent;
    border-bottom: transparent;
} 
.btn-top::before {   
    border-right: transparent;
    border-bottom: transparent;
} 
.btn-stop {
    position: relative;
    margin: 30px 0 30px 0;
    background-color: red;
}
.btn-stop::after {
    content: 'II';
    font-size: 47px;
    font-weight: 600;    
    position: absolute;    
    top: 22%;
    left: 55%;
}
.btn-stop::before {
    content: '';
    position: absolute;    
    top: 28%;
    left: 23%;
    border: 18px solid transparent;
    border-left: 28px solid #000;
}
.btn-stop__two-hand-control{    
    width: 140px;
}

@media (min-width: 680px) {
    .control__body-one-hand,
    .control__body-two-hand,
    .control__select {
        display: none;
    }
}